{% extends "base.html" %}

{% block content %}

    <div class="panel panel-primary">
    {{ form_select.as_table }}
{#    <select name='myselect' onChange="this.form.submit();"> </select>#}

     <div>

        Текущий месяц

        <select>
            {% for m in months %}
                <option value="{{ m }}">{{ m }}</option>
            {% endfor %}
        </select>
        <select>
            {% for n in years %}
                <option value="{{ n }}">{{ n }}</option>
            {% endfor %}
        </select>

    </div>

{% if cash_data %}
    <div class="panel-heading"><h1>Таблица затрат</h1></div>
    <table class="table table-striped table-condensed">

            <tr>
                <td><strong>Дата транзакции</strong></td>
                <td><strong>Расход</strong></td>
                <td><strong>Приход</strong></td>
                <td><strong>Статья затрат</strong></td>
                <td><strong>Комментарий</strong></td>
                <td></td>
                <td></td>
            </tr>

    {% for q in cash_data %}
        {% if q.cash_type == "P" or q.cash_type == "R" %}
            <tr>
                <td>{{ q.cash_date }}</td>
                <td>{% if q.cash_type == "R" %} {{ q.cash_value }} {% endif %} </td>
                <td>{% if q.cash_type == "P" %} {{ q.cash_value }} {% endif %} </td>
                <td>{{ q.cash_expense }}</td>
                <td>{{ q.cash_desc }}</td>
                <td><a href="{% url 'buhrax:cash_update' q.pk %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                <td><a href="{% url 'buhrax:cash_delete' q.pk %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
            </tr>
        {% endif %}
    {% endfor %}
            <tr>
                <td></td>
                <td><strong>{{ cash_total_r.cash_value__sum }}</strong></td>
                <td><strong>{{ cash_total_p.cash_value__sum }}</strong></td>
                <td><strong></strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </table>
</div>
    <div class="panel-footer">Total: {{ cash_total }}  </div>

    <div class="text-center"><a href="{% url 'buhrax:cash_create' %}" class="btn btn-success">Добавить</a></div>
{% else %}
    <p>Нет ничего для отображения</p>
{% endif %}

{% endblock %}